.header {
  padding: 10px;
  background: #363738;
}

.inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
  object-fit: contain;

}

.login,
.login a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.login a:hover {
  text-decoration: underline;
}