.addPost {
    width: 100%;
    background: #363738;
    height: 60px;
    border-radius: 20px;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
}

.addPost__input {
    height: 100%;
    width: 100%;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}

.addPost__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: .6;
    transition: .2s linear;
}

.addPost__btn:hover {
    opacity: 1;
}

.addPost__btn svg {
    width: 100%;
    height: 100%;
}